.button{
    padding: 10px 16px;
    border: 0px;
    border-radius: 12px;
    background: var(--color-black);
    color: var(--color-primary);
    cursor: pointer;
    font-family: "Poppins", Arial, sans-serif;
}